<!DOCTYPE html>
<%#include "venderinfo.h" %>
<% tfetch(QVariantMap, venderInfo); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Vender Info</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>L ID<br /><input name="venderInfo[lId]" value="<%= venderInfo["lId"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input name="venderInfo[name]" value="<%= venderInfo["name"] %>" /></label>
  </p>
  <p>
    <label>Phone Num<br /><input name="venderInfo[phoneNum]" value="<%= venderInfo["phoneNum"] %>" /></label>
  </p>
  <p>
    <label>E Mail Addr<br /><input name="venderInfo[eMailAddr]" value="<%= venderInfo["eMailAddr"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
